.catalog-page {
  padding: 30px;
  background: #fff;
  min-height: 100vh;
}

.catalog-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.catalog-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.catalog-card:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.catalog-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
}

.catalog-name {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

.catalog-price {
  color: #555;
  margin-top: 5px;
}

.catalog-btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.catalog-btn:hover {
  background: #333;
}
